
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&family=Sansita+Swashed:wght@600&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

p {
  font-size: 1em;
}

.App {
  position: relative;
  min-height: 100vh;
}

.appMain {
  min-height: 100%;
  margin-bottom: -50px;
}

.mobileHidden{
  display: none;
}

header {
  padding: 12% 2% 15%;
  border-bottom: solid 2px #fff;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background: url('../../images/black-galaxy-downscaled.jpg');
  background-attachment: fixed;
  border-bottom: solid 2px #fff;
}

section:nth-child(even) {
  background-image: none;
  background-color: #050d18;
}

section.lpSection {
  padding: 6% 3%;
  padding-bottom: 40px;
}

section.lpSection h3 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.8em;
  margin-bottom: 6%;
  text-shadow: 2px 2px 1px #1f1f1f;
  line-height: 1;
}

section.lpSection p {
  margin-bottom: 8%;
  padding: 0 2%;
}

section.lpSection a {
  text-decoration: none;
  font-size: 0.8em;
}

section.lpSection.bottom {
  padding-top: 2%;
  padding-bottom: 0;
  min-height: 0;
}

section.lpSection a:hover {
  color: #E98731;
}

section.loginSection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.loginSection h1 {
  font-size: 2em;
  font-family: 'Sansita Swashed', cursive;
  line-height: 1.3;
  text-shadow: 2px 2px 1px #1f1f1f;
  margin: 0 0 50px;
}

a.playButton {
  border-style: solid;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

a.buttonWhite {
  background-color: #fff;
  color: #050d18;
  padding: 10px 15px;
  text-shadow: 2px 2px 1px #fff;
}

.buttonWhite:hover {
  background-color: #fff;
  padding: 10px 15px;
}

#footer, .push {
  height: 50px;
}

.errorBoundary {
  height: 100vh;
}

.errorBoundary h1 {
  font-size: 2em;
  font-family: 'Sansita Swashed', cursive;
  line-height: 1.3;
  text-shadow: 2px 2px 1px #1f1f1f;
  margin: 2% 0 4%;
}

.playerProgress h1{
  font-size: 2em;
  font-family: 'Sansita Swashed', cursive;
  line-height: 1.3;
}

.error {
  color: red;
}

@media all and (min-width: 469px) {
  header h1, section.startScreen h1, section.loginSection h1 {
    font-size: 4em;
  }
  header h2 {
    font-size: 2em;
  }
  section.lpSection h3 {
    font-size: 3em;
    margin-bottom: 4%;
  }
  .responseContainer .noFormat, .questionContainer .noFormat {
    font-size: 0.9em;
  }
}

@media all and (min-width: 850px) {
  .responseContainer, .questionContainer {
    display: block;
  }
  .responseContainer p.noFormat, .questionContainer p.noFormat {
    width: 50%;
    margin: auto;
  }
}

@media all and (min-width: 1280px) {
  .mobileHidden{
    display: initial;
  }

  header {
    padding: 5% 2%;
    border-bottom: solid 2px #fff;
  }

  img.mobileHidden{
    height: 500px;
  }
  header.lpHeader {
    height: 91vh;
  }
  header h2 {
    margin-bottom: 40px;
  }
  section.lpSection {
    padding: 3% 17%;
  }
  section.lpSection p {
    margin-bottom: 5%;
  }
  .responseContainer .noFormat, .questionContainer .noFormat {
    font-size: 1em;
  }
}