
body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

h1{
    margin-top: 5%;
}

h2 {
    margin-top: 20px;
}

h2, h3, h4 {
    margin-bottom: 0;
}

h4 {
    margin-bottom: 1.3em;
}

p {
    font-size: 1em;
    margin: 0;
}


header {
    padding: 10px 0;
}


button {
    margin-top: 50px;
}

.underline{
    text-decoration: underline;
}
.scoreFilter{
    display: flex;
    align-self: flex-end;
    padding: 0 10px;
}
.scoreFilter p {
    margin: 3px;
    cursor: pointer;
}
.scoreFilter p:hover {
    color: #fff;
}
.scoreHeader {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    width: 75%
}

.scoreEntry {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 75%;
    text-transform: uppercase;
}

.scoreEntry h2 {
    justify-self: end;
}

.scoreSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding-top: 3%;
}