
  footer#footer {
    padding: 8% 2%;
    font-size: 0.5em;
    background-color: #050d18;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: rows;
    height: auto;
  }

  footer#footer a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 1px #1f1f1f;
  }

  footer#footer a:hover {
    color: #E98731;
  }

  footer#footer p.footerSpacer{
    color: #fff;
    margin: 0 10px;
  }

  @media all and (min-width: 600px){
    footer#footer p.footerSpacer{
      
    }

    footer#footer {
      padding: 2% 0;
      font-size: 0.8em;
    }
  }