section.createCharSection {
    min-height: 90vh;
    padding: 5%;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.createCharSection h1 {
    font-size: 2em;
    font-family: 'Sansita Swashed', cursive;
    line-height: 1.3;
    text-shadow: 2px 2px 1px #1f1f1f;
    margin: 2% 0 4%;
}

section.createCharSection img {
    max-height: 200px;
}

button[type="submit"] {
    width: 80%;
    cursor: pointer;
    background: none;
    border-style: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

button[type="submit"]:hover {
    color: #E98731;
    font-family: 'Sansita Swashed', cursive;
}

form.characterCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInputs {
    text-align: left;
}

.formInputs div {
    display: flex;
    flex-direction: column;
}
.characterPortrait{
    margin: 10% 0;
    
}