section.createCharSection {
    min-height: 90vh;
    padding: 5%;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button[type="submit"] {
    width: 20%;
}

form.characterCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInputs {
    text-align: left;
}
.characterPortrait{
    margin: 10% 0;
    
}