@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');
.noFormat {
    white-space: pre-wrap;
}

.narrator {
    text-decoration: underline;
}

.charBox {
    display: flex;
    align-items: center;
}

.gameSpace {
    padding: 0;
}

.playerProgress {
    padding: 20px 0;
}

.displayAndQuestionContainer {
    display: flex;
}

.questionDisplay, .responseDisplay {
    min-height: 80vh;
    background: #bbb;
    width: 100%;
}

.questionDisplay .questionContainer .characterInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionDisplay .questionContainer .characterInfo .characterPicAndName {
    display: flex;
    align-items: center;
}
.questionDisplay .questionContainer .characterInfo .characterName {
    padding-left: 20px;
}
.questionDisplay .questionContainer .characterInfo .characterName h2{
    margin: 0;
    display: flex;
    justify-content: center;
}
.questionDisplay .questionContainer .characterInfo .characterPicture {
    border-right: solid 1px lightgreen;
    border-bottom: solid 1px lightgreen;
}

.questionDisplay .questionContainer .characterInfo .characterHealth {
    margin: 0;
    margin-right: 2%;
}

.questionDisplay .questionContainer, 
.responseDisplay .responseContainer {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    padding: 0 0 10%;
    height: 60%;
    background-color: #000;
    color: lightgreen;
    border: solid 2px lightgreen;
}

.questionDisplay .questionContainer p, 
.responseDisplay .responseContainer p {
    margin: 0;
    padding: 0 4%;
}

.questionDisplay .questionContainer h1.narrator, .responseDisplay .responseContainer h1.narrator {
    margin: 1% 0;
    font-weight: 500;
}

.questionDisplay .choiceContainer {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}

.questionDisplay .choiceContainer button, .questionDisplay .choiceContainer div.loader {
    border-style: none;
    width: 50%;
    border: white solid 3px;
    cursor: pointer;
    margin-top: 0;
}

.questionDisplay .choiceContainer button:hover {
    background: #bbb;
}

.questionDisplay .choiceContainer div.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionDisplay .choiceContainer button.choices:disabled {
    background-color: #000;
}

.initalsField {
    display: flex;
    flex-direction: column;
}

.initalsField #formInitials {
    text-transform: uppercase;
    border-style: none;
    letter-spacing: 15px;
    text-align: center;
    padding: 10px 0 0;
    font-size: 30px;
    width: 40%;
    align-self: center;
    background: none;
    border-bottom: solid 3px #000;
}