@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');
.noFormat {
    white-space: pre-wrap;
}

.narrator {
    text-decoration: underline;
}

.charBox {
    display: flex;
    align-items: center;
}

.gameSpace {
    padding: 0;
}

.playerProgress {
    padding: 20px 0;
}

.displayAndQuestionContainer {
    
}

.questionDisplay, .responseDisplay {
    background: #bbb;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.characterInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.characterInfo .characterHealthAndName {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.characterInfo .characterName {
    padding-left: 20px;
}

.characterInfo .characterName h2 {
    margin: 0;
    display: flex;
    justify-content: center;
}

.characterInfo .characterHealth {
    margin: 0;
    font-size: 2em;
}

.volumeSection {
    background-color: #000;
    color: lightgreen;
    margin: 1% 2% 0;
}

.volumeSection .volumeIcon {
    font-size: 2em;
    cursor: pointer;
}

.questionDisplay .questionContainer, .responseDisplay .responseContainer {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    padding: 0;
    background-color: #000;
    height: 100%;
    color: lightgreen;
    border: solid 2px lightgreen;
    border-top: none;
    flex-grow: 1;
}

.questionDisplay .questionContainer p, .responseDisplay .responseContainer p {
    margin: 0;
    padding: 0 4% 4%;
    
}

.questionDisplay .questionContainer p.loading, .responseDisplay .responseContainer p.loading {
    cursor: pointer; 
}

.questionDisplay .questionContainer h1.narrator, .responseDisplay .responseContainer h1.narrator {
    margin: 1% 0;
    font-weight: 500;
}

.questionDisplay .choiceContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.questionDisplay .choiceContainer button, .questionDisplay .choiceContainer div.loader {
    border-style: none;
    width: 50%;
    border: white solid 3px;
    cursor: pointer;
    margin-top: 0;
}

.questionDisplay .choiceContainer button:hover {
    background: #bbb;
}

.questionDisplay .choiceContainer div.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionDisplay .choiceContainer button.choices:disabled {
    background-color: #000;
}

.responseContainer .continue{
    cursor: pointer;
}

.responseContainer .continue:hover{
    cursor: pointer;
    color: darkgreen;
}

.initalsField {
    display: flex;
    flex-direction: column;
}

.initalsField #formInitials {
    text-transform: uppercase;
    border-style: none;
    letter-spacing: 15px;
    text-align: center;
    padding: 10px 0 0;
    font-size: 30px;
    width: 40%;
    align-self: center;
    background: none;
    border-bottom: solid 3px #000;
}