.appNav {
    background-color: #050d18;
    display: flex;
    align-items: center;
    border-bottom: #fff solid 2px;
}
.appNav a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    text-shadow: 2px 2px 1px #1f1f1f;
}
.appNav a:hover{
    color: #E98731;
}
.appNav #navTitle{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Sansita Swashed', cursive;
}
ul.navList {
    font-family: 'Sansita Swashed', cursive;
    padding-left: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

ul.navList li {
    height: auto;
    margin: 30px 0;
}

ul.navList a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
}

