.appNav {
    background-color:#aaa;
    display: flex;
    align-items: center;
}
.appNav #navTitle{
    
}
ul.navList {
    padding-left: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}